# 2주차(0311) Review

---
## `ch02_ex02`

## Ch02. Variable (변수)

- string (문자열)
- float (실수형)
- integer (정수형)
- boolean (불형 T/F)

In [2]:
# 여러 이름을 동시에 할당하는 방법!
# 순서는 할당하는 숫자와 가까운 변수부터
# 아래 예시에서는, dos -> deux -> two

two = deux = dos = 2
two

2

In [4]:
# 그렇다면, two를 4로 바꾸면,
# deux나 dos도 같이 바뀌게 되는가?
# integer는 불변객체이므로, 바뀌지 않음!

two = 4
print(two, deux, dos)

4 2 2

In [6]:
# 저장하는 공간에 대한 주소: id
# id는 바뀌었을까? id는 바뀜!

id(two), id(deux)

(140492541192592, 140492541192528)

In [8]:
# 가변객체의 예: list

p = [1, 2, 3]
q = p
p, q

([1, 2, 3], [1, 2, 3])

In [9]:
# id도 같음!

id(p), id(q)

(140492546582592, 140492546582592)

In [10]:
# p만 변경을 해도, q도 같이 변경!

p[0] = 5
p, q

([5, 2, 3], [5, 2, 3])

In [11]:
# 바뀌어도 id는 그대로!

id(p), id(q)

(140492546582592, 140492546582592)

### 좋은 변수명

- 간결하고, 명확해야 한다.
- 의미가 담겨야 한다. (a, b, c와 같은 변수는 사용하지 않는 것이 좋다.)
- **코드에는 `의미`가 담기고, 주석에는 `의도`가 담긴다.**
    - 예: `the number of students`
    - n(가장 안 좋은 예) < the_number_of_student(너무 길면 문제,, 오타가 날 가능성도) < `num_student` (좋은 예!)
    - 간결하고, 명확하게 짓는 것이 포인트
    - 카멜표기법| numStudent (자바에서 주로 많이!)

### 자료형 변환, 형 변환
- str(`변환할 값`), int(), float(), bool()
- `변환할 값`을 변환하고 싶은 자료형으로 감싸준다.
- 물론 예외가 있긴 하다.

In [14]:
a = 10

# str으로 바꾸기
print(str(a))

# float으로 바꾸기
print(float(a))

# bool로 바꾸기
# 어떤 값이 False로 변환이 되는지만 알고 있으면 됨!
# (False로 바뀌는 갯수가 더 적기 때문에!)
print(bool(a))

10
10.0
True

- 주의할 점 1: float에서 int로 변환할 때

In [16]:
# 소수를 int로 바꾸면 소수점 내림
# 한 번에 더하고 바꾸었을 때와, 
# 각각 바꾸고 더했을 때의 값이 달라질 수 있다.

x = 6.5 
y = 10.8

print(int(x+y))
print(int(x)+int(y))

17
16

- 주의할 점 2: str에서 int/float으로 변환할 때

In [19]:
i = '100'

int(i), float(i)

(100, 100.0)

In [21]:
# 만약, float으로 예상되는 것을 int로 바꾸려고 하면 Error

j = '3.7'
int(j)

ValueError: invalid literal for int() with base 10: '3.7'

### 꿀팁 `print()`

In [22]:
dog = 'dog'
cat = 'cat'
lion = 'lion'

# 원소들 간 스페이스 없이 연결, \n
print(dog + cat + lion) 

# 원소들 간 스페이스가 있다, \n
print(dog, cat, lion)

dogcatlion
dog cat lion

In [23]:
# argument 안에서는 스페이스 없이 종종 붙여쓰기도 한다. (예: sep='', end='')
# 아래는 default 값
print(dog, cat, lion, sep=' ', end='\n') 

print(dog, cat, lion, sep='/', end='\n\n')
print('EDL')

dog cat lion
dog/cat/lion

EDL

In [24]:
# print 방법 1. (바람직하지는 않다!)
print("My favorite animal is ", dog)

# print 방법 2. (추천하는 방법, f-string)
print(f"My favorite animal is {dog}.")

My favorite animal is  dog
My favorite animal is dog.

- 코드 줄이 짧을 때, `;(semicolon)`을 이용하여 한 줄로 쓸 수 있다.

In [25]:
dog = 'dog'; cat = 'cat'; lion = 'lion'
print(dog, cat, lion)

dog cat lion

## `ch02_ex03`

### `input()` 함수
- console에서 사용자가 입력하는 값을 받을 수 있는 함수이다.
- 입력 받는 값은 문자열로 인식이 된다. (type이 문자열!)
- 입력 받은 값을 변수에 담아서 사용한다. 안 그러면 사라진다!
- **주의할 것: 숫자일 경우 형 변환을 해준다.**

In [26]:
input('Hello?')

Hello? Hi!

'Hi!'

In [27]:
int(input('나이가 어떻게 되나요?'))

나이가 어떻게 되나요? 30

30

- 변수에 할당하는 방법 (변수를 받는 방법)

In [28]:
# 방법 1.
age = int(input('나이가 어떻게 되나요?'))
age

나이가 어떻게 되나요? 30

30

In [30]:
# 방법 2.
print('나이가 어떻게 되나요?')
age = input()
age

나이가 어떻게 되나요?

 30

'30'

#### `Quiz 1`
- 섭씨를 입력 받아서 화씨로 변환하기
- "섭씨 * 1.8 + 32 = 화씨"

In [32]:
celsius = float(input("섭씨 몇 도 인가요?"))
fahrenheit = celsius * 1.8 + 32

print(f"화씨는 {fahrenheit}도 입니다.")

섭씨 몇 도 인가요? 3.5

화씨는 38.3도 입니다.

#### `Quiz 2`
- 택배 정보를 입력 받고, 총 합계 계산하기
- 출력값:
    - "==택배 정보=="
    - 수취인 성명: <이름>
    - 수취인 주소: <주소>
    - 배송비: 3000원
    - 물건 비용: <가격>원
    - 총 합계: <가격>원
- 물건 비용 = 무게(g) * 5
- 합계 = 배송비 + 물건 비용

**입력값: 이름, 주소, 무게**

In [34]:
name = input("수취인 성명을 입력해주세요.")
address = input("수취인 주소를 입력해주세요.")
weight = float(input("무게(g)를 입력해주세요."))

delivery_fee = 3_000
cost = weight * 5
total = delivery_fee + cost

print()
print("==택배 정보==")
print(f"수취인 성명: {name}")
print(f"수취인 주소: {address}")
print(f"배송비: {delivery_fee}원")
print(f"물건 비용: {cost}원")
print(f"총 합계: {total}원")

수취인 성명을 입력해주세요. 김우리
수취인 주소를 입력해주세요. 강원도
무게(g)를 입력해주세요. 123.45

==택배 정보==
수취인 성명: 김우리
수취인 주소: 강원도
배송비: 3000원
물건 비용: 617.25원
총 합계: 3617.25원

---

## `ch03_ex01`

## Ch03. Numbers

### boolean
- 형 변환할 때 어떤 것이 True, False인지 기억하라
    - False인 값 ~ 주로 빈 값, 예: '', None, 0, ...
- 조건식에서 많이 쓴다. 예: 만약 이 조건이 True라면, ~

In [2]:
print(bool(1)) # True
print(bool('')) # False

True
False

### integer
- 소수점이 없는 것!
- default 양수이고, 음수는 앞에 -를 붙여 표현한다.
- 특히, 숫자 앞에는 0을 붙일 수 없다. 예: 05 (안 됨!)
    - 예외적으로 0bxxx, => 십진수 이외의, 다른 진수 표현법 (우리는 십진수만 쓴다!)
- 리터럴(글자 자체): 4
- 숫자는 중간에 공백이 많아도 무시가 된다.
- 10,000원 -> 10, 000원 두 개로 인식 => _ 사용
    - '언더바(_)'는 숫자 사이에 있을 때 무시가 된다.
    - 예: 10_000

In [4]:
# 음수 표현 방법

a = -9
8 + a

-1

In [5]:
# 숫자 앞에는 0을 붙일 수 없음 ! Error

a = 05

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (1072046867.py, line 3)

In [6]:
# 숫자 중간에 공백이 많아도 무시가 되는 예

-9 + 5            -8

-12

In [7]:
# 돈 10,000원으로 표현하고 싶을 때, 언더바(_)로 구분할 수 있다!

a = 10_000
print(a)

10000

### 연산
- 연산자(operator): +, -, *, /, ...
- 피연산자(operand): 4, 5, ...
- 수식(expression)

In [8]:
x = 5
y = 12

print(x + y)
print(x - y)
print(x * y)
print(x / y)

# 거듭제곱(exponential)
print(x ** y)

17
-7
60
0.4166666666666667
244140625

**! 나눗셈에서 주의할 사항**
1. division by zero => 주의) 0으로 나눌 수 없다!
2. 몫과 나머지 출력 방법

In [9]:
# 몫과 나머지 그리고 나눗셈

x // y, x % y, x / y

(0, 5, 0.4166666666666667)

In [10]:
# 몫과 나머지를 한 번에 출력하는 방법!

divmod(x, y)

(0, 5)

### 복합 대입연산자 | compound assignment operator

In [11]:
a = 10
a - 5
print(a)

10

In [12]:
# 아래 식에 들어있는 로직!
# 1. a - 3을 계산 한다.
# 2. 임시변수 temp = a - 3 할당한다.
# 3. a = a - 3 할당.
a = a - 3

# 그리고 이것을 복합 대입연산자로 아래와 같이 표현할 수 있다.
a -= 3

In [13]:
# 다 됨!

a += 3
a -= 3
a *= 3
a /= 3

In [17]:
# 그런데, 안 되는 경우 ?!
# 변수를 초기화하지 않은 경우 ! Error

u = u + 1

NameError: name 'u' is not defined

In [18]:
# 아래와 같이 변수를 초기화해줘야 한다.
u = 10
u = u + 1

u

11

#### `Quiz 1`
- 정수를 입력 받고 3의 배수인지 확인하세요.
- 그리고, 홀수인지 확인하세요.
- 조건문 if 사용하지 않고 해보기!

In [19]:
number = int(input())
print((number % 3) == 0)
print((number % 2) != 0)

 5

False
True

### 지수 표현 
- e, E 둘다 사용 가능하다.
- 앞부분은 float, int 둘다 올 수 있고,
- 뒷부분은 int 만 올 수 있다.
    - 만약 뒤에 오는 숫자가 양수라면 0이 앞으로,
    - 음수라면 0 뒤로 붙는다. (소수점)

In [20]:
1.0e5 # 1.0 * 10^6, float

100000.0

In [22]:
# 0.000789를 지수로 표현하기!

789e-6

0.000789

In [23]:
# 34.567을 지수로 표현하기!

34567e-3

34.567

---

## `ch04_ex01`

## Ch04. 조건문, if

- code structure 등장! 들여쓰기 ~

### 코드 짜는 룰
- 주석을 다는 방법
    - 주석이란? 설명을 하는 부분
    - 주석을 사용하는 목적: 의도를 표현한다! 혹은 협업 시 의사소통!
    - 방법: '#' hash, sharp, ...
    - #가 시작된 부분부터 그 라인 끝까지가 주석처리 된다.
    - 주의! 만약, 문자열 안에 #가 들어있다면 문자열로 인식된다.
    - 주석을 길게 달고 싶은 경우, """<주석~>"""
- 라인 유지하기!
    - 들여쓰기: 공백 4개 혹은 탭1개
    - 되도록이면, 한 줄에 최대 80자가 넘지 않게 해준다.
    - 만약, 넘는다면 백슬래쉬를 이용하여 끊어준다. (\\)
    - 가독성이 좋은 코드를 작성하도록 노력!

In [25]:
a = 3 #여기부터 라인 끝까지!
b = 2

In [28]:
# 문자열 안에 #이 들어있는 경우: 문자열로 인식!

example = 'hey! ###'
example

'hey! ###'

In [35]:
# 주석을 길게 달고 싶은 경우의 예!

"""
주석1
주석2
주석3
"""

'\n주석1\n주석2\n주석3\n'

### 조건문

- 조건이 1개인 경우
    - if 뒤 조건식 앞에는 스페이스, : 앞에는 스페이스 사용 X
    
```
if <조건식>:
    <실행할 코드>
```

In [31]:
# 조건식이 False이므로, 아무것도 print되지 않음!

if 4 == 9:
    print('Yaay!')

In [32]:
# 이렇게 수정한다면, print됨.

if 4 != 9:
    print('Yaay!')

Yaay!

- 조건이 2개인 경우

```
if <조건식>:
    <실행할 코드1>
else:
    <실행할 코드2>
```

In [33]:
# 4 == 9이므로, 'Hey!'가 출력될 것이다.

if 4 == 9:
    print('Yaay!')
else:
    print('Hey!')

Hey!

- 조건이 3개 이상인 경우

```
if <조건식>:
    <실행할 코드1>
elif <조건식2>:
    <실행할 코드2>
    
...<여러개 있을 수 있다!>...

else:
    <실행할 코드3>
```

In [34]:
# 2 != 8이므로, 'Yeah!'가 출력될 것이다.

if 4 == 9:
    print('Yaay!')
elif 5 == 10:
    print('Hey!')
elif 2 != 8:
    print('Yeah!')
else:
    print('oh!')

Yeah!

### 비교연산자
- x < y, x <= y
- x > y, x >= y
- x == y (값)
- x != y (값)
- x is y (값, 메모리 주소)
- x is not y (값, 메모리 주소)

#### `Quiz 1`
- 학점 부여하기
- 학점을 입력 받아서
    - 90점 이상이면 A
    - 80, B
    - 70, C
    - 그외, D
    
- 변수 설정 유의 
- print할 때, 예쁘게 하기!

In [37]:
score = float(input('성적을 입력해주세요.'))

if score >= 90:
    grade = 'A'
elif score >= 80:
    grade = 'B'
elif score >= 70:
    grade = 'C'
else:
    grade = 'D'
    
print(f'성적은 {score}, 학점은 {grade}입니다.')

성적을 입력해주세요. 85.3

성적은 85.3, 학점은 B입니다.

#### `Quiz 2`
- 아이디와 비번 입력 받아서 둘다 일치하면 로그인 하기
- 아이디, 비번 각자 정해놓기
- 일치하지 않을 때에는 창의적으로 어떤 걸로 반환하기

In [40]:
# 첫 번째 방법 

user_id = 'woori'
user_pw = '0815'

input_id = input('아이디를 입력해주세요.')
input_pw = input('비밀번호를 입력해주세요.')

if (user_id == input_id) and (user_pw == input_pw):
    print('로그인 되었습니다.')
else:
    print('아이디 또는 비밀번호를 잘못 입력하셨습니다.')

아이디를 입력해주세요. woori
비밀번호를 입력해주세요. 0815

로그인 되었습니다.

In [45]:
# 두 번째 방법

user_id = 'woori'
user_pw = '0815'

input_id = input('아이디를 입력해주세요.')
input_pw = input('비밀번호를 입력해주세요.')

if user_id == input_id:
    if user_pw == input_pw:
        print('로그인 되었습니다.')
    else:
        print('비밀번호를 잘못 입력하셨습니다.')
else:
    if user_pw == input_pw:
        print('아이디를 잘못 입력하셨습니다.')
    else:
        print('아이디와 비밀번호를 잘못 입력하셨습니다.')

아이디를 입력해주세요. woorively
비밀번호를 입력해주세요. 0815

아이디를 잘못 입력하셨습니다.

### 논리연산자
- 여러 조건식을 비교할 때 사용한다.
- 예: 10 < x < 20
    - 위 표현은 파이썬에서만 가능한 표현!
    - (x > 10) 혹은 (x < 20)
- and(&): 둘다 참일 때 True
- or(|): 둘 중 하나만 참이여도 True
- not: 참 -> False, 거짓 -> True

#### `Quiz 3`
- quiz 1 확장판
- 결석 횟수를 받아서, 점수가 80점 이상인데 결석이 2번 이상이면 F, 나머지는 점수대로 (Quiz 1에서 결석만 추가되어 F를 부여하는 버전으로!)
- 두 방법으로 해보기
    - 논리연산자 사용
    - if구조를 크게 2번 가져갈 수 있다.

In [50]:
# 논리연산자를 사용한 방법

score = float(input('성적을 입력해주세요.'))
absence = int(input('결석한 횟수를 입력해주세요.'))

if score >= 90 and absence < 2:
    grade = 'A'
elif score >= 80 and absence < 2:
    grade = 'B'
elif score >= 70 and absence < 2:
    grade = 'C'
elif absence < 2:
    grade = 'D'
else:
    grade = 'F'

print(f'성적은 {score}, 결석 횟수는 {absence}, 학점은 {grade}입니다.')

성적을 입력해주세요. 99.8
결석한 횟수를 입력해주세요. 2

성적은 99.8, 결석 횟수는 2, 학점은 F입니다.

In [55]:
# if구조를 2번 사용한 방법

score = float(input('성적을 입력해주세요.'))
absence = int(input('결석한 횟수를 입력해주세요.'))

if absence >= 2:
    grade = 'F'
else:
    if score >= 90:
        grade = 'A'
    elif score >= 80:
        grade = 'B'
    elif score >= 70:
        grade = 'C'
    else:
        grade = 'D'
    
print(f'성적은 {score}, 결석 횟수는 {absence}, 학점은 {grade}입니다.')

성적을 입력해주세요. 54.2
결석한 횟수를 입력해주세요. 0

성적은 54.2, 결석 횟수는 0, 학점은 D입니다.