# 3주차 (0318) Review

---
## `ch04_ex03`

## 중첩 조건문 | Nested conditional
- if 블록 안에 또 if 블록이 만들어지는 경우
    - 예 : 
    ```
        if ...
            if ....
                if ....
    ```
    - if절 구분은 들여쓰기로 한다.
    - 조건이 여러 개일 경우 사용한다.
    - 이 방법은 사실 지양하고, 더 예쁜 방법을 찾아본다.

In [2]:
# 지양해야 할 방법 예시

x = 0
y = 4

if x == y:
    print("Block A")
else:
    if x < y:
        print("Block B")
    else:
        print("Block C")

Block B

In [3]:
# 가독성 좋게 해결하는 방법! 

if x == y:
    print('Block A')
elif x < y:
    print('Block B')
else:
    print('Block C')

Block B

In [4]:
# 지양해야 할 방법 예시 2
# 0 < x < 10 인 경우에 A를,
# 그 외의 경우에는 B를 프린트하기

if x > 0:
    if x < 10:
        print('Block A')
    else:
        print('Block B')
else:
    print('Block B')

Block B

In [5]:
# 방법 1 - 논리 연산자를 사용하는 방법

if (x > 0) and (x < 10):
    print('Block A')
else:
    print('Block B')
    

# 방법 2 - 파이썬에서만 사용할 수 있는 방법

if 0 < x < 10:
    print('Block A')
else:
    print('Block B')

Block B
Block B

### 논리연산자
- 비교연산 조건을 여러 번 사용해야 하는 경우
    - x > 0 그리고 x < 10
- and(&), or(|), not(~) `헷갈리지 않게 주의!`
    - A and B : A 그리고 B, A와 B가 둘다 참일 때 True
    - A or B : A 혹은 B, 둘 중 하나만 참이면 True
    - not A : A가 참이면 False, 거짓이면 True

### True, False로 조건을 세우는 경우!
- A = True
- "만약 A가 참이면, ..."

In [6]:
a = True

# 이렇게 쓰는 거 아님,,
if a == True:
    print('True')
else:
    print('False')
    
# 이렇게 !
# 아무것도 안 쓰면 'a가 참일 때'의 의미
if a:
    print('True')
else:
    print('False')

True
True

### in
- membership operator
- 어떤 요소가 안에 포함되어 있는가 
- 혹은, 비슷한 조건문이 여럿일 때
- A in B => A가 B에 포함되어 있나?

In [7]:
# ex1 
# letter이 모음인지 아닌지 판단하라. 모음 => (a, e, i, o, u)
letter = 'k'

# if letter == 'a' or letter == 'e', .... (안 좋은 방법!)
if letter in ['a', 'e', 'i', 'o', 'u']:
    print(f"{letter} : 모음")
else: 
    print(f"{letter} : 자음")

k : 자음

In [8]:
# 주어진 단어에 모음이 있나 없나?!

word = 'apple'
   
# # TypeError가 나는 예시
# if ['a', 'e', 'i', 'o', 'u'] in word:
#     print('yes')
# TypeError: 'in <string>' requires string as left operand, not list
    
if ('a' or 'e' or 'i' or 'o' or 'u') in word:
    print('yes')

yes

### 코끼리 연산자
- walrus operator
- 사용하는 방식 ===> :=
- 할당과 테스트를 동시에 하는 기능

In [9]:
tweet_limit = 200

# 공백 없이 붙인다는 의미,
# 개수는, 4(blah의 길이) * 50 = 200
tweet_string = 'blah' * 50 
tweet_string

'blahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblah'

In [10]:
# 이 str이 200을 넘는 건지, 안 넘는 건지 확인하기

diff = tweet_limit - len(tweet_string)
if diff > 0:
    print("가능하다.")
else:
    print("불가능하다.")

불가능하다.

In [11]:
# 코끼리 연산자 사용
# 한 줄로 줄이기 가능 (할당 + 테스트)

if diff := tweet_limit - len(tweet_string) > 0:
    print('yes')
else: print('no')

no

#### `Quiz`
- 윤년을 구해봅시다.
    - 연도를 입력받는다.
    - 해당 연도가 4로 나눠지면 윤년
    - 그러나 100으로 나눠지면 안 된다.
    - 그런데 또, 400으로 나눠지면 윤년
- 출력 : '{}년은 윤년입니다.' 혹은 '윤년이 아닙니다.'

In [12]:
year = int(input('연도를 입력해주세요.'))

if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(f'{year}년은 윤년입니다.')
else:
    print(f'{year}년은 윤년이 아닙니다.')

연도를 입력해주세요. 2024

2024년은 윤년입니다.

---

## `ch05_ex01`

## Ch05. 문자열, String

### String | 문자열
- 시스템에서 가장 작은 단위
- 즉, 하나의 캐릭터가 차지하는 바이트가 제일 작다!
- 불변적인 성격을 가진다. immutable
    - 예 : jack -> jeck 으로 중간만 수정할 수는 없다.
    - 아예 할당을 다시 할 수는 있다.
- ', "으로 선언한다.
    - 예 : "25.5" (타입: str)
    - 참고로, ''', """으로 사용하면 주석이다.
- 형변환은 str()

### escape character | 이스케이프 문자
- 특수한 형태의 문자열로, 눈에 보이는 대로 인식되지 않는 문자 
- \ + char
- 예: \n, \t, \b, \', \", ... (이것을 그대로 인식하라는 뜻!)
    - 만약, \n을 그대로 출력하고 싶다?
        - 방법 1: \를 하나 더 쓰면 됨.
        - 방법 2: raw string 사용하기 (r'')
- 주의할 사항: 다른 스트링을 만드는 것이 아니라, 출력의 문제인 것.

In [13]:
sent = 'hello\nworld'
print(sent)

hello
world

In [14]:
sent = 'hello\tworld'
print(sent)

hello	world

In [15]:
sent = 'hello\bworld'
print(sent)

hellworld

In [16]:
# \n을 그대로 출력하고 싶을 때,

# 방법 1 - \ 한번 더 쓰기
sent = 'hello\\nworld'
print(sent)

# 방법 2 - raw string
sent = r'hello\nworld'
print(sent)

hello\nworld
hello\nworld

In [17]:
# 문자열 원하는 대로 나타내기!

'I\'m a student.'

"I'm a student."

In [18]:
# 그냥 사용하면, \n이 보임

sent = 'hello\nworld'
sent

'hello\nworld'

In [19]:
# 프린트하면 \n이 안 보임

print(sent)

hello
world

### 연산
- concatenatation
    - ' ' + ' ' => 공백 없이 결합하는 방법
- 곱하기
    - ' ' * 5 => 복제의 의미

In [20]:
# 공백 없이 출력

name = 'jack'
name + name

'jackjack'

In [21]:
# 4번 반복 (스페이스 X)

name * 4

'jackjackjackjack'

In [ ]:
# immutable 하다는 것
# name의 첫 번째인 'a'를 'e'로 바꿀 수 있는가?
# 안 됨, Type Error

name[1] = 'e'

### 슬라이싱, 추출
- 문자열의 일부분을 떼어내는 작업
- 대괄호 사용하고, 그 안에 오프셋을 지정
- 오프셋은 정해진 자리, 상대적인 주소라고 생각.
- **중요** `오프셋은 0부터 시작한다.`
```
    # 오프셋
    0123
    jack
    -4-3-2-1
```
- 음수도 가능함, 대신, -1부터 시작!
- 오프셋은 [시작: 끝: 스텝] # default 값: step = 1
- 오프셋의 시작은 포함하고, 끝은 포함하지 않는다. ('이상 ~ 미만'의 의미)

In [23]:
# j를 뽑고 싶으면 0

name = 'jack'
name[0]

'j'

In [24]:
# -1이면 k가 나옴

name = 'jack'
name[-1]

'k'

In [25]:
# 현재의 sent
sent

'hello\nworld'

In [26]:
# 0부터 시작한다는 것, 
# 그리고 step을 지정해주지 않았을 때, 
# defalut 값이 1이라는 것을 알 수 있다.

sent[3:4]

'l'

In [27]:
# 처음부터 5까지 출력하고 싶을 때!

# 후자의 방식으로 쓰는 것이 좋다!
sent[0:6], sent[:6]

('hello\n', 'hello\n')

In [28]:
# 처음부터 끝까지 2스텝씩 출력하고 싶다면?

sent[::2]

'hlowrd'

In [29]:
# 모든 글자를 거꾸로 출력하기! 

sent[::-1]

'dlrow\nolleh'

In [30]:
# 문자열 뿐만 아니라, 리스트에서도 됨!

cars = ['benz', 'kia', 'porsche']
cars[0]

'benz'

## `ch05_ex02`

### NLTK
- natural language toolkit
- 자연어 분석을 위해 만들어져 교육용으로 배포된 패키지
- 텍스트가 정제가 되어있고, 다양한 것을 할 수 있도록 내장된 함수나 기능이 추가되어 있다.
    - 토크나이즈, 파싱, 태깅

In [31]:
# !pip install nltk # 설치

In [32]:
import nltk # nltk 가져오기

# 부분적으로 다운받기
# 깔끔하게 보고 싶다면, 'quiet=True' 추가!
nltk.download('book', quiet=True)

True

In [33]:
from nltk import book # 가져오기

*** Introductory Examples for the NLTK Book ***
Loading text1, ..., text9 and sent1, ..., sent9
Type the name of the text or sentence to view it.
Type: 'texts()' or 'sents()' to list the materials.
text1: Moby Dick by Herman Melville 1851
text2: Sense and Sensibility by Jane Austen 1811
text3: The Book of Genesis
text4: Inaugural Address Corpus
text5: Chat Corpus
text6: Monty Python and the Holy Grail
text7: Wall Street Journal
text8: Personals Corpus
text9: The Man Who Was Thursday by G . K . Chesterton 1908

In [34]:
# book에 접근하는 방법
moby = book.text1

# moby에 있는 단어들에 접근할 때 (토큰에 접근하는 방법)
# 앞에서 10개만 출력!
moby.tokens[:10]

# 토큰? 프로그래밍에서 사용하는 단어의 단위
# 예 : hello world => hello, world 
# I'm not a coward
# I'm / I, 'm / I, am 의 세 방법으로!

['[',
 'Moby',
 'Dick',
 'by',
 'Herman',
 'Melville',
 '1851',
 ']',
 'ETYMOLOGY',
 '.']

In [35]:
# 1. 길이 세기
len(moby)

260819

In [36]:
# 2. 중복 없이 단어는 몇 개일까?
# list -> set으로 형변환
len(set(moby))

19317

- list
    - ['a', 1, True]
    - 순서가 있고, 중복이 허용된다.
    - list()
- set
    - {'a', 2, Ture}
    - 순서가 없고, 중복 허용이 안 된다.
    - set()
    - 수학의 집합 개념이랑 동일
    
`list는 인덱싱이 되지만, set은 안 된다!`

In [37]:
cars = ['kia', 'hyundai', 'renault', 'benz', 'benz', 'kia']
cars

['kia', 'hyundai', 'renault', 'benz', 'benz', 'kia']

In [38]:
# set으로 가져가면, 중복이 다 사라짐!

set(cars)

{'benz', 'hyundai', 'kia', 'renault'}

In [39]:
# lexical diversity
# 얼마나 다양한 언어를 썼는지 알 수 있음.
len(set(moby)) / len(moby)

0.07406285585022564

In [40]:
# 정렬
sorted(cars)

['benz', 'benz', 'hyundai', 'kia', 'kia', 'renault']

In [41]:
# 역순으로 정렬
sorted(cars, reverse=True)

['renault', 'kia', 'kia', 'hyundai', 'benz', 'benz']

In [42]:
# 10개만 뽑아서 정렬
print(sorted(moby[:10]))

# 정렬을 먼저 하고 10개를 뽑는 것
print(sorted(moby)[:10])

['.', '1851', 'Dick', 'ETYMOLOGY', 'Herman', 'Melville', 'Moby', '[', ']', 'by']
['!', '!', '!', '!', '!', '!', '!', '!', '!', '!']

#### `Quiz 1`
- text6 가져와서 토큰을 변수에 담고
- 중복 없는 집합으로 저장하고 내림차순
    - 앞에서 10개 단어 출력
    - 만약, 단어에 z가 있으면 z를 대문자로 바꾸시오.
    - z가 없는데 4자 이상이면 끝 글자를 대문자로 바꿔라.

In [43]:
monty = book.text6
monty = sorted(set(monty), reverse=True)

ans = monty[:10]

for i in range(len(ans)):
    word = ans[i]

    if 'z' in word:
        ans[i] = word.replace('z', 'Z')
    elif len(word) >= 4:
        ans[i] = word.replace(word[-1], word[-1].upper())
        
for elem in ans:
    print(elem)

Zoosh
Zoop
Zoo
Zone
Zhiv
yourselF
yourS
youR
younG
you

#### `Quiz 2`
- 주민번호, 휴대폰번호, 이메일주소를 입력 받는다.
- 주민번호, 휴대폰번호는 숫자만 입력 받는다. (- 없이)
- 이메일 주소는 아이디만 입력 받는다. (@xx 없이)
    - "당신은 {}년 {}월 {}일 출생의 {남성/여성}입니다."
    - 휴대폰 번호: 000-0000-0000
    - 이메일주소: xxx@gmail.com

In [44]:
id_num = input('주민번호를 입력해주세요.')
phone_num = input('휴대폰번호를 입력해주세요.')
email = input('이메일주소를 입력해주세요.')

if int(id_num[6]) in [1, 2]:
    year = '19' + id_num[:2]
else:
    year = '20' + id_num[:2]
    
month = int(id_num[2:4])
day = int(id_num[4:6])
    
if int(id_num[6]) % 2 == 0:
    gender = '여성'
else:
    gender = '남성'

print(f'당신은 {year}년 {month}월 {day}일 출생의 {gender}입니다.')
print(f'휴대폰 번호: {phone_num[:3]}-{phone_num[3:7]}-{phone_num[7:]}')
print(f'이메일주소: {email}@gmail.com')

주민번호를 입력해주세요. 201608153333333
휴대폰번호를 입력해주세요. 01012345678
이메일주소를 입력해주세요. woorively

당신은 1920년 16월 8일 출생의 남성입니다.
휴대폰 번호: 010-1234-5678
이메일주소: woorively@gmail.com